<div class="department-details-container">
    
    <div *ngIf="departmentData; else noDepartment" 
    class="department-details">
        <h3 class="department-title">{{ departmentData.name || "" }}</h3>
        <p class="details">You selected department with id: {{ currentDepartmentId }}</p>
    </div>

    <ng-template #noDepartment>
        no department selected...
    </ng-template>

    <div class="child-route-btn-container">
        <button class="btn"
        (click)="goDepartmentChildRoute('overview')">
        Overview
        </button>
        <button class="btn"
        (click)="goDepartmentChildRoute('contact')">
        Contact
        </button>
    </div>
    
    <router-outlet></router-outlet>

    <div class="department-details-btn-container">
        <button class="btn"
        (click)="goPrevDepartment()">
        Prev
        </button>
        <button class="btn"
        (click)="goNextDepartment()">
        Next
        </button>
    </div>

    <div class="back-btn-container">
        <button 
        class="btn"
        (click)="goBackClick()">
            Back
        </button>
    </div>
</div>
